<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>HUMANE | 1999</title>
</head>
<body>
    
    <nav>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="top">
            <div class="logotext">
                <!-- <img src="freeLogo.jpeg" alt="This is the logo of my website"> -->
                𝐇𝐔𝐌𝐀𝐍𝐄
            </div>
            <div class="nav-link">
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Approach</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Donate</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="landing">
        <!-- <h1>HUMANE</h1> -->
    </section>

    <script src="app.js"></script>
</body>
</html>